* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 100%;
    border-radius: 10px;
}

.header {
    background-color: brown;
    height: 120px;
}

.navbar {
    background-color: darkorange;
    height: 80px;
}

.content {
    background-color: royalblue;
    height: 300px;
    text-align: center;
    font-size: 30px;
}

.aside {
    background-color: darkolivegreen;
}

.footer {
    background-color: teal;
    height: 80px;
}

@media all and (min-width:800px) {
    .content {
        flex: 2;
    }

    .aside1 {
        order: 2;
    }

    .content {
        order: 1;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width:600px) {
    .aside {
        flex: 1;
    }
}